.navbar {
 
  width: 100%;
  color: white;
  position: fixed;

  top: 0;
  z-index: 900;
background: linear-gradient(to top, transparent 0%, rgba(22, 22, 22, 0.712));
  font-size: 15px;

 
}
 .scrolled {
     background-color: black;}

.container {
 
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;

  .left {
    display: flex;
    align-items: center;
  }

  img {
    height: 60px;
    margin-right: 40px;
  }

  span {
    margin-right: 32px;

    cursor: pointer;
  }

  .right {
    display: flex;
    align-items: center;
    flex-direction: end;

    .icons {
      margin: 0px 20px;
      cursor: pointer;
    }

    .profile {
      .options {
        display: none;
        flex-direction: column;
        background-color: rgb(44, 39, 39);
        border-radius: 5px;
        /* display: flex; */
        flex: 0 0 auto;
      }
    }

    span {
      padding: 10px;
      cursor: pointer;
      flex-wrap: wrap;
    }
    &:hover {
      .options {
        display: flex;
        flex-direction: column;
        background-color: rgb(44, 39, 39);
        border-radius: 5px;
        /* display: flex; */
        flex: 0 0 auto;
        flex-wrap: wrap;
        position: absolute;
      }
    }
  }
}

@media only screen and (max-width: 544px) {

  

 .container {
 
 display: flex;


.left {
  span{
    display: none;
  }
}
.right nextchild{
 

}
}

.profile {
 display: block;
      .options {
        display: none;
        flex-direction: column;
        background-color: rgb(44, 39, 39);
        border-radius: 5px;
        /* display: flex; */
        flex: 0 0 auto;
      }
    }
}



@media only screen and (min-width: 990px) {

 

.container{

  img {
    height: 80px;
    margin-right: 40px;
  }

}
  
}