.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(121, 110, 110);
  background-color: transparent;
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  border-bottom: 0.5px solid  rgb(29, 25, 25);

  z-index: 1;
}

.header_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  align-items: center;
  /* border: 1px solid green; */
}

.header_container ul {
  display: flex;
  justify-content: space-around;
  width: 140%;
  justify-content: space;
  align-items: center;

  text-decoration: none;
  list-style-type: none;
}
